<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="col-md-4 mt-4">
    <div class="card mb-4">
      <%= image_tag @user.image, alt: @user.name, class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= @user.name %></h5>
        <p class="card-text"><strong>Bio:</strong> <%= @user.bio %></p>
        <p class="card-text"><strong>Email:</strong> <%= @user.email %></p>
        <p class="card-text"><strong>Gender:</strong> <%= @gender_name %></p>
        <p class="card-text"><strong>Country:</strong> <%= @country_name %></p>
        <p class="card-text"><strong>Created At:</strong> <%= @user.created_at %></p>
        <p class="card-text"><strong>Updated At:</strong> <%= @user.updated_at %></p>
      </div>
    </div>
  </div>
</div>
